<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melaka Tourist Analysis</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="landing-container">
        <div class="content">
            <h2 class="welcome-text">Welcome to</h2>
            <h1 class="main-heading">Melaka</h1>
            <h3 class="sub-heading">Tourist Analysis</h3>
            <p class="description">Explore the behaviours and trends of tourists in Melaka using advanced data visualisations.</p>
            <button class="cta-button" onclick="redirectToDashboard()">Get Started</button>
        </div>
    </div>

    <script src="static/js/scripts.js"></script>
</body>
</html>
